* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  color: #1B1B1B;
}

ul {
  list-style: none;
  padding: 0;
}

figure {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  position: relative;
}

body {
  margin: 0;
}

h1, h2 {
  font-family: "Anton", sans-serif;
}

main, body {
  width: 100%;
}

#header {
  background-image: url("img/Recette05.jpg");
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
#header h1 {
  margin-bottom: 5px;
  color: #FFD15B;
  font-size: 35px;
  width: 60%;
  text-align: center;
}
#header .input-recherche {
  width: 70%;
  margin-top: 0;
  padding: 15px 20px;
  border-radius: 12px;
  border: none;
  position: relative;
}
#header .input-recherche:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px; /* Ajustez cette valeur selon vos besoins */
  transform: translateY(-50%);
  width: 20px; /* Ajustez cette valeur selon vos besoins */
  height: 20px; /* Ajustez cette valeur selon vos besoins */
  background-image: url("loupe.svg");
  background-size: cover;
}

.resultat {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(198, 198, 198, 0.1921568627);
  padding-bottom: 80px;
}
.resultat .filtre {
  width: 80%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.resultat .filtre select {
  min-width: 100px;
  border-radius: 12px;
  padding: 10px 15px;
  margin-right: 15px;
  border: none;
}
.resultat .filtre p {
  font-family: "Anton", sans-serif;
  margin-right: 0;
}
.resultat .resultat-recette {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 30px;
}
.resultat .resultat-recette article {
  width: 27%;
  height: auto;
}
.resultat .resultat-recette article figure {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  position: relative;
}
.resultat .resultat-recette article figure #cooking-time {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 5px;
  background-color: #FFD15B;
  font-size: 10px;
  border-radius: 7px;
}
.resultat .resultat-recette article figure img {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.resultat .resultat-recette article figure figcaption {
  background-color: white;
  border-radius: 0 0 15px 15px;
  margin: 0;
  padding: 15px 15px;
}
.resultat .resultat-recette article figure figcaption h2 {
  font-size: 14px;
  margin: 0;
  letter-spacing: 1px;
}
.resultat .resultat-recette article figure figcaption h3 {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.09em;
  color: #7A7A7A;
}
.resultat .resultat-recette article figure figcaption .recette-description {
  font-size: 11px;
}
.resultat .resultat-recette article figure figcaption .ingredients {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
}
.resultat .resultat-recette article figure figcaption .ingredients li {
  display: flex;
  flex-direction: column;
  font-size: 11px;
}
.resultat .resultat-recette article figure figcaption .ingredients .ingredient-name {
  font-weight: 600;
  color: #1B1B1B;
}
.resultat .resultat-recette article figure figcaption .ingredients .ingredient-quantity-unit {
  color: #7A7A7A;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
  .group-select {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .resultat .filtre select {
    width: 45%;
  }
  .filtre p {
    width: 100%;
  }
  .resultat .resultat-recette article {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */